## Settings file was created by plugin Sync Upgrades v2.2.6
## Plugin GUID: TGO.SyncUpgrades

[Default Upgrades]

## Sync Max Health
# Setting type: Boolean
# Default value: true
Health = true

## Sync Max Stamina
# Setting type: Boolean
# Default value: true
Stamina = true

## Sync Extra Jump
# Setting type: Boolean
# Default value: true
Extra Jump = true

## Sync Map Player Count
# Setting type: Boolean
# Default value: true
Map Player Count = true

## Sync Grab Range
# Setting type: Boolean
# Default value: true
Grab Range = true

## Sync Grab Strength
# Setting type: Boolean
# Default value: true
Grab Strength = true

## Sync Throw Strength
# Setting type: Boolean
# Default value: true
Throw Strength = true

## Sync Sprint Speed
# Setting type: Boolean
# Default value: true
Sprint Speed = true

## Sync Tumble Launch
# Setting type: Boolean
# Default value: true
Tumble Launch = true

## Sync Tumble Wings
# Setting type: Boolean
# Default value: true
Tumble Wings = true

## Sync Crouch Rest
# Setting type: Boolean
# Default value: true
Crouch Rest = true

